.compose-attachment-label:hover {
    -fx-background-color: #C5C4C4;
    -fx-cursor: hand;
}

.compose-attachment-label:hover .text {
    -fx-strikethrough: true;

}

.view-attachment-label:hover {
    -fx-background-color: #C5C4C4;
    -fx-cursor: hand;
}

.list-cell:drag-entered {
    -fx-background-color: #867E83;
}


.icon-buttons {
    -fx-min-height: 40;
    -fx-max-height: 40;
    -fx-min-width: 40;
    -fx-max-width: 40;

    -fx-background-size: 25px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#writeButton {
    -fx-background-image: url("icons/write.png");
}

#addFolderButton {
    -fx-background-image: url("icons/add-folder.png");
}

#configurationButton {
    -fx-background-image: url("icons/settings.png");
}

#replyButton {
    -fx-background-image: url("icons/reply.png");
}

#replyAllButton {
    -fx-background-image: url("icons/reply-all.png");
}

#forwardButton {
    -fx-background-image: url("icons/forward.png");
}

#deleteButton {
    -fx-background-image: url("icons/trash.png");
}

#closeButton {
    -fx-background-image: url("icons/close.png");
}

#sendButton {
    -fx-background-image: url("icons/send-email.png");
}

#addAttachmentButton {
    -fx-background-image: url("icons/attach.png");
}

#mainWindowBorderPain {
    -fx-background-color: #EEEAE7;
}

.table-view .text {
    -fx-font-size: 14;
}

.list-view .text {
    -fx-font-size: 14;
}